# In development, copy this file to config.secret.exs and add to it as required
# In production, set environment variables or generate config.secret.exs

use Mix.Config

config :starling, :personal_access_token "123"
config :starling, :client_id "123"
config :starling, :client_secret "123"
