# In development, copy this file to config.secret.exs and add to it as required
# In production, set environment variables or generate config.secret.exs

use Mix.Config

config :starling, client_id: "PUT YOUR CLIENT ID HERE"
config :starling, client_secret: "PUT YOUR CLIENT SECRET HERE"
config :starling, redirect_uri: "http://localhost:4000/auth/starling/callback"
