# In development, copy this file to config.secret.exs and add to it as required
# In production, set environment variables or generate config.secret.exs

use Mix.Config

# API credentials for your app. https://developer.starlingbank.com/application/list
config :starling, client_id: "PUT YOUR CLIENT ID HERE"
config :starling, client_secret: "PUT YOUR CLIENT SECRET HERE"
config :starling, redirect_uri: "http://localhost:4000/auth/starling/callback"

# Bypass OAuth for tests.
# Use a personal access token (https://developer.starlingbank.com/token/list) or sandbox user token.
config :starling, test_access_token: "PUT YOUR ACCESS TOKEN HERE"
